@import "../node_modules/bootstrap/scss/bootstrap";


h1 {
    background-color: #070605;
    color: #ffffff;
}
body{
    background-color: f8f9fa;
    font-family: 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
.app-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1.5rem;
}

.search-area {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  input {
    padding: 0.5rem;
  }
    .button-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
    
.navbar-brand {
    font-weight: 600;
    margin: 20px;
    background-color: #6099ec;
}

.result-area {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

main-cointainer {
    margin-top: 2rem;
}
//Responsive Styles for desktop
@media (min-width: 768px) {
  .app-grid {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .search-area {
    text-align: left;
    align-items: start;

    .button-group {
      flex-direction: row;
      justify-content: start;
    }
  }

  .result-area {
    padding: 2rem;
  }
}